@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    color: #000000;
    background: #ffffff;
}
header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 2rem;
    color: #1c6158;
    text-align: center;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: rgb(151, 151, 151);
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: 2rem;
    margin: 1rem;
    border: 1px solid rgba(151, 151, 151);
    padding: 1rem;
}
label, input, button, select, textarea {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}
label {
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 1rem;
    
}
input, select, textarea {
    padding: .5rem;
    font-size: 1.5rem;
    width: 100%;
    padding: 0.5rem;
}

button {
    background-color: #1c6158;
    color: #fff;
    border: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: 100%;
}
button:hover {
    background-color: rgb(116, 0, 139);
}